@charset "ISO-8859-1";
body {
  font-family: sans-serif;
  background-image: url("backgroundimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: centre;
}
.sign-up-form {
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background: skyblue;
  padding: 10px;
  margin: 2% auto 0;
  text-align: centre;
}
.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}
button {
  color: white;
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  font-size: 25px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
}
button:hover {
  background-color: black;
  color: white;
}
a:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 15px;
}

hr {
  margin-top: 20px;
  width: 80%;
}

marquee {
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  color: white;
  text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  color: white;
  text-align: center;
}
