@charset "ISO-8859-1";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-position: centre;
  background-image: url("backgroundimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sign-up-form {
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: orange;
  padding: 20px;
  margin: 8% auto 0;
  text-align: centre;
}
.sign-up-form h1 {
  color: #1c8adb;
  margin-bottom: 30px;
}
.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}
button {
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: skyblue;
}
.signup-btn {
  background-color: #1c8adb;
}
a {
  text-decoration: none;
}
hr {
  margin-top: 20px;
  width: 80%;
}
h1 {
  margin: auto;
  width: 100%;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  color: Black;
  border: 1px skyblue;
  background-color: orange;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: orange;
  color: white;
  text-align: center;
}
